body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32,33,36);
    color: rgb(66, 133, 244);
}

.logo {
    margin: 2vh 0;
}

.board {
    margin: 14vh 0;
    padding: 4vh;
    width: 320px;
    height: 320px;
    border: 5px solid rgb(66, 133, 244);
    border-radius: 25px;
    filter: grayscale(0.2);
}

.menu-overlay {
    position: fixed;
    padding: 60px 30px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.menu-btn {
    background-color: rgb(66, 133, 244);
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 30px;
    color: rgb(32,33,36);
    filter: grayscale(0.2);
}

.menu-btn:first-child {
    border: 4px solid rgb(66, 133, 244);
    background-color: rgb(32,33,36);
    color: rgb(66, 133, 244);
}

.menu-btn:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    background-color: rgb(50,48,52);
    min-height: 20vh;
    bottom: 0;
    color: rgb(32,33,36);
}

.noselect { 
    -webkit-touch-callout: none; 
    /* iOS Safari */ 
    -webkit-user-select: none; 
    /* Chrome/Safari/Opera */ 
    -khtml-user-select: none; 
    /* Konqueror */ 
    -moz-user-select: none; 
    /* Firefox */ 
    -ms-user-select: none; 
    /* Internet Explorer/Edge */ 
    user-select: none; 
    /* Non-prefixed version, currently not supported by any browser */ 
}